@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;

$background-color:  #F9F6F4;

@import "select2.min";

body {
  background-color: $background-color;
}

.no-resize {
  resize: none;
}
