$btn-default-bg: #28c0da;
$btn-default-color: #fff;
$btn-default-border: #28c0da;


@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@import "node_modules/font-awesome/scss/variables";

$input-border-color: #000;
@import "node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox";




//@import url(https://fonts.googleapis.com/css?family=Lato);
//$font-family-sans-serif: 'Lato', sans-serif;

$background-color:  #f4f3ee;

$footer-bgcolor: #28c0da;
$prefooter-bgcolor: #116777;
$light-blue: #28c0da;


@import "modules/profile";

@import "partials/base";

@import "modules/landingpage";

@import "modules/listexperience";

@import "modules/destinations";
 



.no-resize {
  resize: none;
}


@import "vendor/select2.min";
@import "vendor/fileinput.min";
@import "vendor/select2bootstrap.min";
@import "vendor/formValidation.min";


@import "partials/responsive";