@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,500);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);


.destination-description {
	position: relative;
}
div.social-shares {
	position: relative;
	display: block;
}
.experience-banner {
	position: relative;
	bottom: 10px;
	display: block;
	width: 100%;
	text-align: right;
}
div.destination-details {
   width: 70%;
   float:left;
   height: 100%; 
   display: block;
}
div.destination-actions {
   min-height: 100px; 
}
div.destination-title {
    height: 134px;
}
div.destination-title h3 {
    color: #e4e4e4;
    margin-top: 0;
    text-transform: uppercase;
}
div.destination-title h1, div.destination-title small{
    color: #fff;
    font-size: 29px;
}
.destination-banner {
	width: 25%;
    margin-top: 75px;
    float: right;
    height: 100%;
    display: block;
    position: relative;
}
.destination-tabs li a{
	color: #afafaf; 
	text-decoration: none;
	padding-bottom: 2px;
}
.destination-tabs li.active {
	border-bottom: 2px solid #b3c0eb;
}
.destination-tabs li:hover {
	border-bottom: 2px solid #b3c0eb;
}
.gallery-section {
	/*background-color: #fafafa !important;*/
	width: 100%;
	text-align: center;
	margin-top: 15px;
}
.gallery-section:after {
	clear: both; 
	content: " ";
	width: 100%;
	display: block;
}
.gallery-item {
	float: left;
	width: 20%;
	position: relative;
	cursor: pointer;
}
.gallery-item a {
	hegiht: auto;
	display: block;
}
.gallery-item > a > img  {
	max-width: 100%;
	width: 100%;
}
.img-overlay {
	position: absolute;
	background: rgba(0,0,0, 0);
	top:0;
	left: 0;
	right: 0;	
	height: 100%;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.gallery-item:hover > .img-overlay {

	background: rgba(0,0,0, 0.5);
	opacity: 0.5;
	filter: Alpha(Opacity=0.5);
}
.gallery-section > a > img {
	width: 100%;
	height: auto;
}
.experience-banner div {
	background-color: rgba(40, 192, 218, 0.65);
	border-radius: 4px;
	float: right;
	margin-right: 33px;
	padding: 15px 30px;
	border: 1px solid rgba(40, 192, 218, 0.65);
	width: 70%;
	/*font-family: 'Fira Sans', sans-serif !important;*/
	font-family: 'Pontano Sans', sans-serif;
}
.experience-banner  h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 58px;
	color: #fff;
	font-weight: 900px;
	font-family: 'Pontano Sans', sans-serif;
}
.experience-banner p {
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	text-align: justify;
	text-align-last: end;
	font-family: 'Pontano Sans', sans-serif;
}
.destination-preview  a {
	text-decoration: none !important;
}
.thumb-footer {
	position: absolute; 
	bottom: 10px;
	width: 95%;
	font-size: 30px; 
}
.thumb-footer div {
	padding: 0px;
}
.thumb-footer span {
	font-size: 30px;
}
.thumb-footer span:before {
	font-family: "Glyphicons Halflings";
	font-size: 18px;
	position: absolute;
	margin-top: 5px;
	margin-left: -15px;
	content: "\e148";
}
.book-btn {
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 50%;
    top: 48%;
    font-size: 1.3em;
    background-colo: #47BBCC;
    boder: 1px solid #47BBCC;
}
.search-bar {
	display: block;
	margin: 0 auto;
	width: 700px;
}
.search-bar > form.search-form {
	width: 700px;
}
.search-bar > form.search-form > .input-group > .input-group-btn {
	width: 1%;
}
.review-container {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #6e6e6e;
	margin-left: 0px;
	margin-right: 0px;
}
.review-container div {
	padding-left: 0px;
}
.review-container h3 {
	color: #28c0da;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: capitalize;
}
.reviews-header {
	text-align: center;
	width: 100%;
	display: table;
	color: #6e6e6e;
}
.reviews-header:before, .reviews-header:after {
	background-image: url('/upload/images/original/legend_bg.png');
	background-repeat: repeat-x;
	background-position: center;
	width: 50%;
	display: table-cell;
	content: " ";
}
.reviews-header span {
	white-space: nowrap;
    padding: 0 9px;
    display: table-cell;
}
.ekko-lightbox .modal-content {
	background-color: transparent;
	box-shadow: none;
	border: none;
}
.ekko-lightbox .modal-header {
	/*color: #46b8da;*/
	color: #fff;
	border-bottom: 3px solid #46b8da;
	padding-bottom: 0px;
}
.ekko-lightbox .modal-header > .modal-title {
	font-size: 2em;
}
.ekko-lightbox .modal-header > .close {
	/*color: #46b8da;*/
	color: #fff;
	opacity: 1;
	text-shadow: 0 1px 0 #fff;
	font-size: 38px;
}
.ekko-lightbox  .modal-content > .modal-body {
	padding: 0px;
}
.locopal-section {
	background-color: #FEFCFF;
}
.guide-container {
	padding: 15px 10px;
	border-bottom: 1px solid #c8c8c8;
}
.guide-container img {
	box-shadow: 0px 2px 2px 2px #888888;
}
.guide-title {
	padding-top: 0px;
	margin: 0px;
}
.fc-view-container {
	display: block;
}
.reservation-status {
	opacity: 0.5;
}
.reservation-status.active {
	opacity: 1 !important;
}
.bg-available {
	background-color: #449d44 !important;
	border-color: #398439 !important;
	color: #fff !important;
}
.bg-unavailable {
	background-color: #f0ad4e !important;
	border-color: #eea236 !important;
	color: #fff !important;	
}
.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.highlight p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.nt {
    color: #2f6f9f;
}
.na {
    color: #4f9fcf;
}
.s {
	color: #d44950;
}
.highlight p code:first-child {
    display: inline-block;
    padding-right: 45px;
}
.highlight p code {
    font-size: inherit;
    color: #333;
    background-color: transparent;
}