



.upload-controls {
  position:absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;
  z-index: 2 !important;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.upload-controls a {
  cursor: pointer;
}
.file-actions {
  display: none !important;
}

#home-carousel:hover > .upload-controls {
  visibility: visible;
  opacity: 1;
}
#home-carousel > .search-destinations {
  display: block;
  position: absolute;
  z-index: 2 !important;
  top: 0;
  color: #fff !important;
  width: 700px;
  right: 0;
  min-height: 100%;
  padding-top: 10%;
  padding-right: 5%;
  margin: 0 auto;
}
.search-form {
  position: relative;
  background-color: RGBA(255, 255, 255, 0.3);
}
.search-form input {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #fff !important;
  color: #606060;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.search-form button {
  padding-top: 15px;
  color: #fff;
  border: 1px solid #367bf4;
  background-color: #367bf4;
  padding-bottom: 15px;
}
div.categories-container {
  margin: 20px -10px;
}
div.category {
  position: relative;
  float: left;
  width: 33.3333%;
  padding: 10px;
}
div.category h3 {
  position: absolute;
  background-color: #367bf4;
  color: #fff;
  padding: 5px 10px;
  bottom: 10%;
  width: 75%;
  display: block;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}