



.upload-controls {
  position:absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;
  z-index: 2 !important;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.upload-controls a {
  cursor: pointer;
}
.file-actions {
  display: none !important;
}

#home-carousel:hover > .upload-controls {
  visibility: visible;
  opacity: 1;
}
#home-carousel > .search-destinations {
  display: block;
  position: absolute;
  z-index: 2 !important;
  top: 50%;
  background-color: RGBA(119, 119, 131, 0.5);
  border: 1px solid RGBA(119, 119, 131, 0.1);
  color: #fff;
  width: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
}