@import "partials/helpers";

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.container {
    margin-top: 20px;
}
.navbar {
    margin-bottom: 0px;
    min-height: 80px;
    background-color: #fff;
}
.navbar .container {
    margin: 0px auto;
}
.brand-logo {
    height: 40px;
    width: 260px;
    position: relative;
}
.navbar-brand {
    padding: 30px 0 0 0;
    min-height: 80px;
}
  
html {
  position: relative;
  min-height: 100%;
  height: 100%;
  margin: 0;
}
body {
  /* Margin bottom by footer height */
  background-color: $background-color;
  min-height: 100%;
  height: 100%;
  margin: 0;
}
.section-inner {
    max-width: 1140px;
    padding-left: 30px;
    padding-right: 30px;
    position:relative;
    margin: auto;
}
/** 
* Footer styles
*/
.page-wrap:after {
  height: 142px; 
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: $footer-bgcolor;
}
.footer-rside {
    float: right;
    display: block;
}
.footer-lside {
    float: left;
    display: block;
} 
.footer > .container {
   color: #fff;
}
.pre-footer {
    background-color: $prefooter-bgcolor;
    color: #fff;
    width: 100%;
}
.terms-list {
    margin-bottom: 0;
}
.terms-list li {
    border-right: 1px solid #fff;
    color: #fff;
    font-weight: 300;
}
.terms-list li:last-child {
    border: none;
}
.copyright {
    padding: 0;
    margin-top: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
/** End Footer styles **/
.wish-list-nav {
    height: 20px;
    padding: 15px  5px;
    margin-bottom: 5px;
    width: 50%;
    float: right;
}

.wish-list-btn {
    background-color: #47BBCC;
    border: 1px solid #47BBCC;
    border-radius: 3px;
    color: #fff !important;
    padding: 5px !important;
    cursor: pointer;
    display:block;
    position: relative;
    float:right;
}
.wish-list-nav:after {
    content: " ";
   clear: both;
}
.pull-top {
    margin-top: -170px;
}
.section {
    padding-left: 10%;
    padding-right: 10%;
    z-index: 5;
    position: relative !important;
}
.section-top {
    position: relative;
    width: 100%;
    padding-top: 144px;
    margin: 0 auto;
    min-height: 200px;
    display: block;
}
.has-pull-top {
    min-height: 220px;
}
.section-top:before {
    clear: both;
    height: 50px;
}
div.destination-details {
   width: 70%;
   float:left;
   height: 100%; 
   display: block;
}
div.destination-actions {
   min-height: 100px; 
}
div.destination-banner {
    width: auto;
    margin-top: 75px;
    float: right;
    height: 100%;
    display:block;
}
div.destination-title {
    height: 134px;
}
div.destination-title h3 {
    color: #e4e4e4;
    margin-top: 0;
    text-transform: uppercase;
}
div.destination-title h1, div.destination-title small{
    color: #fff;
}
.inline-block {
    display: inline-block;
}
/**
* Custom social icons
*/
.circle-icon {
    color: #fff;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    padding: 13px;
    font-size: 24px;
}
.icon-check:before {
    content: " ";
    background: url('/upload/images/original/check_mark.png') no-repeat center center;
    background-size: 100% 100%;
    height: 25px;
    width: 25px;
    display: inline-block;
}

.destination-preview .thumbnail{
    padding: 0px;
}



/**
* Global loader spin
*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}