@import "partials/helpers";


body {
  background-color: $background-color;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.container {
    margin-top: 20px;
}
.navbar {
    margin-bottom: 0px;
}
.navbar .container {
    margin: 0px;
}
.whish-list-nav {
    background-color: #47BBCC;
    border: 1px solid #47BBCC;
    border-radius: 3px;
    color: #fff !important;
    padding: 5px !important;
    margin-top: 10%;
    cursor: pointer;
}