@import "partials/helpers";


body {
  background-color: $background-color;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.container {
    margin-top: 20px;
}
.navbar {
    margin-bottom: 0px;
}
.navbar .container {
    margin: 0px;
}
.whish-list-nav {
    background-color: #47BBCC;
    border: 1px solid #47BBCC;
    border-radius: 3px;
    color: #fff !important;
    padding: 5px !important;
    margin-top: 10%;
    cursor: pointer;
}
.pull-top {
    margin-top: -170px;
}
.section {
    padding-left: 10%;
    padding-right: 10%;
}
.section {
    z-index: 5;
    position: relative;
}
.section-top {
    position: relative;
    width: 100%;
    padding-top: 144px;
    margin: 0 auto;
    min-height: 200px;
    display: block;
}
.has-pull-top {
    min-height: 220px;
}
.section-top:before {
    clear: both;
    height: 50px;
}
div.destination-details {
   width: 70%;
   float:left;
   height: 100%; 
   display: block;
}
div.destination-actions {
   min-height: 100px; 
}
div.destination-banner {
    width: 30%;
    float: right;
    height: 100%;
    display:block;
}
div.destination-title {
    height: 134px;
}
div.destination-title h3 {
    color: #e4e4e4;
    margin-top: 0;
    text-transform: uppercase;
}
div.destination-title h1, div.destination-title small{
    color: #fff;
}