/**
* Login modal form scss
*/

#login-modal .modal-content {
	border-radius: 2px !important;
	border-color: #898989 !important; 
	padding: 0px 15px;
}
#login-modal .modal-body {
	padding-bottom: 0px;
}
#login-modal h1 {
	margin: 0px;
}

#login-modal {
	background-color: rgba(253,253,252,0.3) !important;
}
.modal-md4 {
	width: 450px;
	margin-top: 150px;
}
.forgot-password {
	color: #28c0da !important;
	text-align: center;
	margin: 0 auto;
	display: block;
	font-weight: 350;
}
#login-modal  legend {
	text-align: center;
	color: #000;
	border: none;
}
#login-modal .form-control, #login-modal .form-control:focus {
	border-color: #b6b6b6 !important;
	height: 45px;
	color: #bebebe !important;
	font-size: 16px;
	padding: 15px 45px;
	background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRXnei22CekAtIuMiS3L0cq-cIDXFyb2r-5pTbfrk-L-V9E-i0C") no-repeat 10px center;
	background-size: 30px;
}
.fb-login-btn {
	width: 100%;
	background-color: #5474b7;
	color: #fff !important;
	height: 50px;
	border: 1px solid #5474b7;
	border-radius: 2px;
	display: block;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
	position: relative;
	text-decoration: none !important;
}
.fb-login-btn i {
	position: absolute;
	left:0;
	height: 40px;
	line-height: 40px;
	font-size: 30px !important; 
	margin: 5px 15px;
	padding: 0px 15px 0px 0px; 
	border-right: 1px solid #385289;
}
