/**
* Responsive site utitlities
*/

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
    .section {
    	padding-left: 5%;
    	padding-right: 5%;
    }
    div.destination {
   		width: 50%;
   	}
   	#home-carousel > .search-destinations {
  		width: 90%;
  		right: 0;
  		left: 0;
  		padding-right: 0;
  	}

}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}

@media(max-width: 567px) {
  
  	.section {
  		padding-left: 0;
  		padding-right: 0;
  	}
  	#home-carousel > .search-destinations {
  		width: 90%;
  		padding: 0;
  		right: 0;
  		left: 0;
  	}
  	.search-destinations h1 {
  		margin-bottom: 0;
  		margin-top: 5px;
  	}
  	.search-destinations h4 {
  		margin-top: 0;
  	}
   	div.destination {
   		width: 100%;
   	}
   	.footer-lside, .footer-rside {
   		float: none; 
   		width: 100%;
   		text-align: center;
   	}
}