/**
* Responsive site utitlities
*/

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
  .img-thumb {
    position:relative; 
    height: 330px;
  }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .section {
    	padding-left: 5%;
    	padding-right: 5%;
    }
    div.destination {
   		width: 50%;
   	}
   	#home-carousel > .search-destinations {
  		width: 90%;
  		right: 0;
  		left: 0;
  		padding-right: 0;
  	}
    

}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
     .search-bar, .search-bar > form.search-form {
      width: 100%;
    }
    .destination-preview {
      margin: 0 auto;
      padding: 0;
      width: 60%;
    }
}
@media(max-width: 750px) {
  .img-thumb {
    position:relative; 
    height: 250px;
  }
}

@media(max-width: 567px) {
  
  	.section {
  		padding-left: 0;
  		padding-right: 0;
  	}
    .home-section {
      margin-top: 120px;
    }
  	#home-carousel > .search-destinations {
  		width: 90%;
  		padding: 0;
  		right: 0;
  		left: 0;
  	}
  	.search-destinations h1 {
  		margin-bottom: 0;
  		margin-top: 5px;
  	}
  	.search-destinations h4 {
  		margin-top: 0;
  	}
   	div.destination {
   		width: 100%;
   	}
   	.footer-lside, .footer-rside {
   		float: none; 
   		width: 100%;
   		text-align: center;
   	}
    .section-destination {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
    div.destination-details {
      width: 100%;
    }
    .destination-actions {
      text-align: center;
    }
    .destination-title {
      margin-top: -40px;
      margin-bottom: 40px;
    }
    .brand-logo {
      height: 38px;
      width: 160px;
    }
    .destination-banner {
      width: 100%;
      margin: 0 auto;
      display: none !important;
    }
    .gallery-item {
      width: 33.333%;
    }
    .search-bar, .search-bar > form.search-form {
      width: 100%;
    }
}

@media(max-width: 450px) { 
  .destination-actions > a, destination-actions > button {
    font-size: 12px !important; 
  }
  .insta-form {
    font-size: 12px;
  }
  .pre-footer {
    text-align:center;
  }
  .pre-footer h1 {
    font-size: 1.2em;
  }
  .destination-shortdesc {
    display: none !important;
  }
  .destination-preview  {
    margin: 0 auto;
    padding: 0;
    width: 100% !important;
    display: block;
    margin-top: 20px;
  }
  .destination-preview .thumbnail {
      margin: 0 auto;
      padding: 0;
      height: 480px !important;
      width: 100%;
  }
  .featured-guides {
    margin-bottom: 50px;
  }
  .img-thumb {
    height: auto !important;
  }
}